<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net462" />
  <package id="NuGet.Frameworks" version="5.11.3" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net462" />
</packages>